<%= form_for @item, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :Code, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :Code, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :Desc, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :Desc, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :Price, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :Price, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :Qty, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :Qty, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :UnlockCode, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :UnlockCode, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  items_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
