<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => Product %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:AltProductCode) %></th>
      <th><%= model_class.human_attribute_name(:AltProductDesc) %></th>
      <th><%= model_class.human_attribute_name(:AltSearchCode) %></th>
      <th><%= model_class.human_attribute_name(:Author) %></th>
      <th><%= model_class.human_attribute_name(:CatAddon) %></th>
      <th><%= model_class.human_attribute_name(:CatBook) %></th>
      <th><%= model_class.human_attribute_name(:CatOther) %></th>
      <th><%= model_class.human_attribute_name(:CatQuickGuide) %></th>
      <th><%= model_class.human_attribute_name(:CatWebinarCD) %></th>
      <th><%= model_class.human_attribute_name(:CatWebinarSubsc) %></th>
      <th><%= model_class.human_attribute_name(:Cost) %></th>
      <th><%= model_class.human_attribute_name(:Current) %></th>
      <th><%= model_class.human_attribute_name(:DateAdded) %></th>
      <th><%= model_class.human_attribute_name(:DownloadOnly) %></th>
      <th><%= model_class.human_attribute_name(:InventoryID) %></th>
      <th><%= model_class.human_attribute_name(:InventoryItem) %></th>
      <th><%= model_class.human_attribute_name(:LegacyProduct) %></th>
      <th><%= model_class.human_attribute_name(:LegCD) %></th>
      <th><%= model_class.human_attribute_name(:LegInternational) %></th>
      <th><%= model_class.human_attribute_name(:LegJustMan) %></th>
      <th><%= model_class.human_attribute_name(:LegJustManDL) %></th>
      <th><%= model_class.human_attribute_name(:LegManual) %></th>
      <th><%= model_class.human_attribute_name(:LegNewCode) %></th>
      <th><%= model_class.human_attribute_name(:LegPDFEmail) %></th>
      <th><%= model_class.human_attribute_name(:LegUpgradeCode) %></th>
      <th><%= model_class.human_attribute_name(:LegVol1Training) %></th>
      <th><%= model_class.human_attribute_name(:LegVol2Training) %></th>
      <th><%= model_class.human_attribute_name(:MultiPack) %></th>
      <th><%= model_class.human_attribute_name(:Price) %></th>
      <th><%= model_class.human_attribute_name(:PrintsInvoice) %></th>
      <th><%= model_class.human_attribute_name(:ProductCode) %></th>
      <th><%= model_class.human_attribute_name(:ProductDesc) %></th>
      <th><%= model_class.human_attribute_name(:ProductParts) %></th>
      <th><%= model_class.human_attribute_name(:SearchCode) %></th>
      <th><%= model_class.human_attribute_name(:SendAnEmail) %></th>
      <th><%= model_class.human_attribute_name(:Tag) %></th>
      <th><%= model_class.human_attribute_name(:UnlockRequired) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.AltProductCode %></td>
        <td><%= product.AltProductDesc %></td>
        <td><%= product.AltSearchCode %></td>
        <td><%= product.Author %></td>
        <td><%= product.CatAddon %></td>
        <td><%= product.CatBook %></td>
        <td><%= product.CatOther %></td>
        <td><%= product.CatQuickGuide %></td>
        <td><%= product.CatWebinarCD %></td>
        <td><%= product.CatWebinarSubsc %></td>
        <td><%= product.Cost %></td>
        <td><%= product.Current %></td>
        <td><%= product.DateAdded %></td>
        <td><%= product.DownloadOnly %></td>
        <td><%= product.InventoryID %></td>
        <td><%= product.InventoryItem %></td>
        <td><%= product.LegacyProduct %></td>
        <td><%= product.LegCD %></td>
        <td><%= product.LegInternational %></td>
        <td><%= product.LegJustMan %></td>
        <td><%= product.LegJustManDL %></td>
        <td><%= product.LegManual %></td>
        <td><%= product.LegNewCode %></td>
        <td><%= product.LegPDFEmail %></td>
        <td><%= product.LegUpgradeCode %></td>
        <td><%= product.LegVol1Training %></td>
        <td><%= product.LegVol2Training %></td>
        <td><%= product.MultiPack %></td>
        <td><%= product.Price %></td>
        <td><%= product.PrintsInvoice %></td>
        <td><%= product.ProductCode %></td>
        <td><%= product.ProductDesc %></td>
        <td><%= product.ProductParts %></td>
        <td><%= product.SearchCode %></td>
        <td><%= product.SendAnEmail %></td>
        <td><%= product.Tag %></td>
        <td><%= product.UnlockRequired %></td>
        <td><%=l product.created_at, format: :long %></td>
        <td>
          <%= link_to product_path(product), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to product_path(product), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_product_path,
            :class => 'btn btn-primary' %>
