<p id="notice"><%= notice %></p>

<p>
  <strong>Altproductcode:</strong>
  <%= @product.AltProductCode %>
</p>

<p>
  <strong>Altproductdesc:</strong>
  <%= @product.AltProductDesc %>
</p>

<p>
  <strong>Altsearchcode:</strong>
  <%= @product.AltSearchCode %>
</p>

<p>
  <strong>Author:</strong>
  <%= @product.Author %>
</p>

<p>
  <strong>Cataddon:</strong>
  <%= @product.CatAddon %>
</p>

<p>
  <strong>Catbook:</strong>
  <%= @product.CatBook %>
</p>

<p>
  <strong>Catother:</strong>
  <%= @product.CatOther %>
</p>

<p>
  <strong>Catquickguide:</strong>
  <%= @product.CatQuickGuide %>
</p>

<p>
  <strong>Catwebinarcd:</strong>
  <%= @product.CatWebinarCD %>
</p>

<p>
  <strong>Catwebinarsubsc:</strong>
  <%= @product.CatWebinarSubsc %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @product.Cost %>
</p>

<p>
  <strong>Current:</strong>
  <%= @product.Current %>
</p>

<p>
  <strong>Dateadded:</strong>
  <%= @product.DateAdded %>
</p>

<p>
  <strong>Downloadonly:</strong>
  <%= @product.DownloadOnly %>
</p>

<p>
  <strong>Inventoryid:</strong>
  <%= @product.InventoryID %>
</p>

<p>
  <strong>Inventoryitem:</strong>
  <%= @product.InventoryItem %>
</p>

<p>
  <strong>Legacyproduct:</strong>
  <%= @product.LegacyProduct %>
</p>

<p>
  <strong>Legcd:</strong>
  <%= @product.LegCD %>
</p>

<p>
  <strong>Leginternational:</strong>
  <%= @product.LegInternational %>
</p>

<p>
  <strong>Legjustman:</strong>
  <%= @product.LegJustMan %>
</p>

<p>
  <strong>Legjustmandl:</strong>
  <%= @product.LegJustManDL %>
</p>

<p>
  <strong>Legmanual:</strong>
  <%= @product.LegManual %>
</p>

<p>
  <strong>Legnewcode:</strong>
  <%= @product.LegNewCode %>
</p>

<p>
  <strong>Legpdfemail:</strong>
  <%= @product.LegPDFEmail %>
</p>

<p>
  <strong>Legupgradecode:</strong>
  <%= @product.LegUpgradeCode %>
</p>

<p>
  <strong>Legvol1training:</strong>
  <%= @product.LegVol1Training %>
</p>

<p>
  <strong>Legvol2training:</strong>
  <%= @product.LegVol2Training %>
</p>

<p>
  <strong>Multipack:</strong>
  <%= @product.MultiPack %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.Price %>
</p>

<p>
  <strong>Printsinvoice:</strong>
  <%= @product.PrintsInvoice %>
</p>

<p>
  <strong>Productcode:</strong>
  <%= @product.ProductCode %>
</p>

<p>
  <strong>Productdesc:</strong>
  <%= @product.ProductDesc %>
</p>

<p>
  <strong>Productparts:</strong>
  <%= @product.ProductParts %>
</p>

<p>
  <strong>Searchcode:</strong>
  <%= @product.SearchCode %>
</p>

<p>
  <strong>Sendanemail:</strong>
  <%= @product.SendAnEmail %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @product.Tag %>
</p>

<p>
  <strong>Unlockrequired:</strong>
  <%= @product.UnlockRequired %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
