<%= simple_form_for(@info) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :Address1 %>
    <%= f.input :Address2 %>
    <%= f.input :AnyFlag %>
    <%= f.input :AuthNo %>
    <%= f.input :BillingAddress1 %>
    <%= f.input :BillingAddress2 %>
    <%= f.input :BillingCity %>
    <%= f.input :BillingCompany %>
    <%= f.input :BillingCountry %>
    <%= f.input :BillingEmail %>
    <%= f.input :BillingEmail2 %>
    <%= f.input :BillingFirstName %>
    <%= f.input :BillingLastName %>
    <%= f.input :BillingPhone %>
    <%= f.input :BillingState %>
    <%= f.input :BillingZipCode %>
    <%= f.input :CardNumber %>
    <%= f.input :CashRecvd %>
    <%= f.input :CheckNumber %>
    <%= f.input :City %>
    <%= f.input :Cnt2 %>
    <%= f.input :Cnt1 %>
    <%= f.input :Cnt3 %>
    <%= f.input :Cnt4 %>
    <%= f.input :Cnt5 %>
    <%= f.input :Cnt6 %>
    <%= f.input :Cnt8 %>
    <%= f.input :Cnt9 %>
    <%= f.input :Cnt10 %>
    <%= f.input :Comment %>
    <%= f.input :Company %>
    <%= f.input :Conference %>
    <%= f.input :Country %>
    <%= f.input :CustPONo %>
    <%= f.input :CustType %>
    <%= f.input :Deleted %>
    <%= f.input :DidAffil %>
    <%= f.input :DidCCRpt %>
    <%= f.input :DidEmail %>
    <%= f.input :DidPrint %>
    <%= f.input :DidShort %>
    <%= f.input :DidVisa %>
    <%= f.input :Done %>
    <%= f.input :Email %>
    <%= f.input :Email2 %>
    <%= f.input :ExpirDate %>
    <%= f.input :FECustNum %>
    <%= f.input :FirstName %>
    <%= f.input :Flag1 %>
    <%= f.input :Flag2 %>
    <%= f.input :Flag8 %>
    <%= f.input :Flag9 %>
    <%= f.input :Flag10 %>
    <%= f.input :Flag10 %>
    <%= f.input :FreeUpgrade %>
    <%= f.input :Gift %>
    <%= f.input :GotEmail %>
    <%= f.input :InvoiceNo %>
    <%= f.input :InvTotal %>
    <%= f.input :Kind %>
    <%= f.input :LastName %>
    <%= f.input :NoEmailContact %>
    <%= f.input :NoEmailContact %>
    <%= f.input :OldRIN %>
    <%= f.input :OrderDate %>
    <%= f.input :OrderTag %>
    <%= f.input :Origin %>
    <%= f.input :OtherAmount %>
    <%= f.input :OtherDesc %>
    <%= f.input :PackSlipCnt %>
    <%= f.input :Phone %>
    <%= f.input :RegisterTo %>
    <%= f.input :SalesPerson %>
    <%= f.input :SalesTax %>
    <%= f.input :SalesTaxAdj %>
    <%= f.input :ShipDate %>
    <%= f.input :ShippingChg %>
    <%= f.input :ShipType %>
    <%= f.input :ShipVia %>
    <%= f.input :ShopOrderNum %>
    <%= f.input :SiteLicNum %>
    <%= f.input :State %>
    <%= f.input :Tagged %>
    <%= f.input :TaxExempt %>
    <%= f.input :TempCustNum %>
    <%= f.input :Terms %>
    <%= f.input :TotalSale %>
    <%= f.input :TotalSale %>
    <%= f.input :xDidAffil %>
    <%= f.input :xDidPrint %>
    <%= f.input :xDidVisa %>
    <%= f.input :xxRecNum %>
    <%= f.input :ZipCode %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
