<%- model_class = Info -%>
<div class="page-header">
  <h1><%=t '.title', :default => Info %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:Address1) %></th>
      <th><%= model_class.human_attribute_name(:Address2) %></th>
      <th><%= model_class.human_attribute_name(:AnyFlag) %></th>
      <th><%= model_class.human_attribute_name(:AuthNo) %></th>
      <th><%= model_class.human_attribute_name(:BillingAddress1) %></th>
      <th><%= model_class.human_attribute_name(:BillingAddress2) %></th>
      <th><%= model_class.human_attribute_name(:BillingCity) %></th>
      <th><%= model_class.human_attribute_name(:BillingCompany) %></th>
      <th><%= model_class.human_attribute_name(:BillingCountry) %></th>
      <th><%= model_class.human_attribute_name(:BillingEmail) %></th>
      <th><%= model_class.human_attribute_name(:BillingEmail2) %></th>
      <th><%= model_class.human_attribute_name(:BillingFirstName) %></th>
      <th><%= model_class.human_attribute_name(:BillingLastName) %></th>
      <th><%= model_class.human_attribute_name(:BillingPhone) %></th>
      <th><%= model_class.human_attribute_name(:BillingState) %></th>
      <th><%= model_class.human_attribute_name(:BillingZipCode) %></th>
      <th><%= model_class.human_attribute_name(:CardNumber) %></th>
      <th><%= model_class.human_attribute_name(:CashRecvd) %></th>
      <th><%= model_class.human_attribute_name(:CheckNumber) %></th>
      <th><%= model_class.human_attribute_name(:City) %></th>
      <th><%= model_class.human_attribute_name(:Cnt2) %></th>
      <th><%= model_class.human_attribute_name(:Cnt1) %></th>
      <th><%= model_class.human_attribute_name(:Cnt3) %></th>
      <th><%= model_class.human_attribute_name(:Cnt4) %></th>
      <th><%= model_class.human_attribute_name(:Cnt5) %></th>
      <th><%= model_class.human_attribute_name(:Cnt6) %></th>
      <th><%= model_class.human_attribute_name(:Cnt8) %></th>
      <th><%= model_class.human_attribute_name(:Cnt9) %></th>
      <th><%= model_class.human_attribute_name(:Cnt10) %></th>
      <th><%= model_class.human_attribute_name(:Comment) %></th>
      <th><%= model_class.human_attribute_name(:Company) %></th>
      <th><%= model_class.human_attribute_name(:Conference) %></th>
      <th><%= model_class.human_attribute_name(:Country) %></th>
      <th><%= model_class.human_attribute_name(:CustPONo) %></th>
      <th><%= model_class.human_attribute_name(:CustType) %></th>
      <th><%= model_class.human_attribute_name(:Deleted) %></th>
      <th><%= model_class.human_attribute_name(:DidAffil) %></th>
      <th><%= model_class.human_attribute_name(:DidCCRpt) %></th>
      <th><%= model_class.human_attribute_name(:DidEmail) %></th>
      <th><%= model_class.human_attribute_name(:DidPrint) %></th>
      <th><%= model_class.human_attribute_name(:DidShort) %></th>
      <th><%= model_class.human_attribute_name(:DidVisa) %></th>
      <th><%= model_class.human_attribute_name(:Done) %></th>
      <th><%= model_class.human_attribute_name(:Email) %></th>
      <th><%= model_class.human_attribute_name(:Email2) %></th>
      <th><%= model_class.human_attribute_name(:ExpirDate) %></th>
      <th><%= model_class.human_attribute_name(:FECustNum) %></th>
      <th><%= model_class.human_attribute_name(:FirstName) %></th>
      <th><%= model_class.human_attribute_name(:Flag1) %></th>
      <th><%= model_class.human_attribute_name(:Flag2) %></th>
      <th><%= model_class.human_attribute_name(:Flag8) %></th>
      <th><%= model_class.human_attribute_name(:Flag9) %></th>
      <th><%= model_class.human_attribute_name(:Flag10) %></th>
      <th><%= model_class.human_attribute_name(:Flag10) %></th>
      <th><%= model_class.human_attribute_name(:FreeUpgrade) %></th>
      <th><%= model_class.human_attribute_name(:Gift) %></th>
      <th><%= model_class.human_attribute_name(:GotEmail) %></th>
      <th><%= model_class.human_attribute_name(:InvoiceNo) %></th>
      <th><%= model_class.human_attribute_name(:InvTotal) %></th>
      <th><%= model_class.human_attribute_name(:Kind) %></th>
      <th><%= model_class.human_attribute_name(:LastName) %></th>
      <th><%= model_class.human_attribute_name(:NoEmailContact) %></th>
      <th><%= model_class.human_attribute_name(:NoEmailContact) %></th>
      <th><%= model_class.human_attribute_name(:OldRIN) %></th>
      <th><%= model_class.human_attribute_name(:OrderDate) %></th>
      <th><%= model_class.human_attribute_name(:OrderTag) %></th>
      <th><%= model_class.human_attribute_name(:Origin) %></th>
      <th><%= model_class.human_attribute_name(:OtherAmount) %></th>
      <th><%= model_class.human_attribute_name(:OtherDesc) %></th>
      <th><%= model_class.human_attribute_name(:PackSlipCnt) %></th>
      <th><%= model_class.human_attribute_name(:Phone) %></th>
      <th><%= model_class.human_attribute_name(:RegisterTo) %></th>
      <th><%= model_class.human_attribute_name(:SalesPerson) %></th>
      <th><%= model_class.human_attribute_name(:SalesTax) %></th>
      <th><%= model_class.human_attribute_name(:SalesTaxAdj) %></th>
      <th><%= model_class.human_attribute_name(:ShipDate) %></th>
      <th><%= model_class.human_attribute_name(:ShippingChg) %></th>
      <th><%= model_class.human_attribute_name(:ShipType) %></th>
      <th><%= model_class.human_attribute_name(:ShipVia) %></th>
      <th><%= model_class.human_attribute_name(:ShopOrderNum) %></th>
      <th><%= model_class.human_attribute_name(:SiteLicNum) %></th>
      <th><%= model_class.human_attribute_name(:State) %></th>
      <th><%= model_class.human_attribute_name(:Tagged) %></th>
      <th><%= model_class.human_attribute_name(:TaxExempt) %></th>
      <th><%= model_class.human_attribute_name(:TempCustNum) %></th>
      <th><%= model_class.human_attribute_name(:Terms) %></th>
      <th><%= model_class.human_attribute_name(:TotalSale) %></th>
      <th><%= model_class.human_attribute_name(:TotalSale) %></th>
      <th><%= model_class.human_attribute_name(:xDidAffil) %></th>
      <th><%= model_class.human_attribute_name(:xDidPrint) %></th>
      <th><%= model_class.human_attribute_name(:xDidVisa) %></th>
      <th><%= model_class.human_attribute_name(:xxRecNum) %></th>
      <th><%= model_class.human_attribute_name(:ZipCode) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @infos.each do |info| %>
      <tr>
        <td><%= info.id %></td>
        <td><%= info.Address1 %></td>
        <td><%= info.Address2 %></td>
        <td><%= info.AnyFlag %></td>
        <td><%= info.AuthNo %></td>
        <td><%= info.BillingAddress1 %></td>
        <td><%= info.BillingAddress2 %></td>
        <td><%= info.BillingCity %></td>
        <td><%= info.BillingCompany %></td>
        <td><%= info.BillingCountry %></td>
        <td><%= info.BillingEmail %></td>
        <td><%= info.BillingEmail2 %></td>
        <td><%= info.BillingFirstName %></td>
        <td><%= info.BillingLastName %></td>
        <td><%= info.BillingPhone %></td>
        <td><%= info.BillingState %></td>
        <td><%= info.BillingZipCode %></td>
        <td><%= info.CardNumber %></td>
        <td><%= info.CashRecvd %></td>
        <td><%= info.CheckNumber %></td>
        <td><%= info.City %></td>
        <td><%= info.Cnt2 %></td>
        <td><%= info.Cnt1 %></td>
        <td><%= info.Cnt3 %></td>
        <td><%= info.Cnt4 %></td>
        <td><%= info.Cnt5 %></td>
        <td><%= info.Cnt6 %></td>
        <td><%= info.Cnt8 %></td>
        <td><%= info.Cnt9 %></td>
        <td><%= info.Cnt10 %></td>
        <td><%= info.Comment %></td>
        <td><%= info.Company %></td>
        <td><%= info.Conference %></td>
        <td><%= info.Country %></td>
        <td><%= info.CustPONo %></td>
        <td><%= info.CustType %></td>
        <td><%= info.Deleted %></td>
        <td><%= info.DidAffil %></td>
        <td><%= info.DidCCRpt %></td>
        <td><%= info.DidEmail %></td>
        <td><%= info.DidPrint %></td>
        <td><%= info.DidShort %></td>
        <td><%= info.DidVisa %></td>
        <td><%= info.Done %></td>
        <td><%= info.Email %></td>
        <td><%= info.Email2 %></td>
        <td><%= info.ExpirDate %></td>
        <td><%= info.FECustNum %></td>
        <td><%= info.FirstName %></td>
        <td><%= info.Flag1 %></td>
        <td><%= info.Flag2 %></td>
        <td><%= info.Flag8 %></td>
        <td><%= info.Flag9 %></td>
        <td><%= info.Flag10 %></td>
        <td><%= info.Flag10 %></td>
        <td><%= info.FreeUpgrade %></td>
        <td><%= info.Gift %></td>
        <td><%= info.GotEmail %></td>
        <td><%= info.InvoiceNo %></td>
        <td><%= info.InvTotal %></td>
        <td><%= info.Kind %></td>
        <td><%= info.LastName %></td>
        <td><%= info.NoEmailContact %></td>
        <td><%= info.NoEmailContact %></td>
        <td><%= info.OldRIN %></td>
        <td><%= info.OrderDate %></td>
        <td><%= info.OrderTag %></td>
        <td><%= info.Origin %></td>
        <td><%= info.OtherAmount %></td>
        <td><%= info.OtherDesc %></td>
        <td><%= info.PackSlipCnt %></td>
        <td><%= info.Phone %></td>
        <td><%= info.RegisterTo %></td>
        <td><%= info.SalesPerson %></td>
        <td><%= info.SalesTax %></td>
        <td><%= info.SalesTaxAdj %></td>
        <td><%= info.ShipDate %></td>
        <td><%= info.ShippingChg %></td>
        <td><%= info.ShipType %></td>
        <td><%= info.ShipVia %></td>
        <td><%= info.ShopOrderNum %></td>
        <td><%= info.SiteLicNum %></td>
        <td><%= info.State %></td>
        <td><%= info.Tagged %></td>
        <td><%= info.TaxExempt %></td>
        <td><%= info.TempCustNum %></td>
        <td><%= info.Terms %></td>
        <td><%= info.TotalSale %></td>
        <td><%= info.TotalSale %></td>
        <td><%= info.xDidAffil %></td>
        <td><%= info.xDidPrint %></td>
        <td><%= info.xDidVisa %></td>
        <td><%= info.xxRecNum %></td>
        <td><%= info.ZipCode %></td>
        <td><%=l info.created_at, format: :long %></td>
        <td>
          <%= link_to info_path(info), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to info_path(info), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_info_path,
            :class => 'btn btn-primary' %>
