<p id="notice"><%= notice %></p>

<p>
  <strong>Address1:</strong>
  <%= @info.Address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @info.Address2 %>
</p>

<p>
  <strong>Anyflag:</strong>
  <%= @info.AnyFlag %>
</p>

<p>
  <strong>Authno:</strong>
  <%= @info.AuthNo %>
</p>

<p>
  <strong>Billingaddress1:</strong>
  <%= @info.BillingAddress1 %>
</p>

<p>
  <strong>Billingaddress2:</strong>
  <%= @info.BillingAddress2 %>
</p>

<p>
  <strong>Billingcity:</strong>
  <%= @info.BillingCity %>
</p>

<p>
  <strong>Billingcompany:</strong>
  <%= @info.BillingCompany %>
</p>

<p>
  <strong>Billingcountry:</strong>
  <%= @info.BillingCountry %>
</p>

<p>
  <strong>Billingemail:</strong>
  <%= @info.BillingEmail %>
</p>

<p>
  <strong>Billingemail2:</strong>
  <%= @info.BillingEmail2 %>
</p>

<p>
  <strong>Billingfirstname:</strong>
  <%= @info.BillingFirstName %>
</p>

<p>
  <strong>Billinglastname:</strong>
  <%= @info.BillingLastName %>
</p>

<p>
  <strong>Billingphone:</strong>
  <%= @info.BillingPhone %>
</p>

<p>
  <strong>Billingstate:</strong>
  <%= @info.BillingState %>
</p>

<p>
  <strong>Billingzipcode:</strong>
  <%= @info.BillingZipCode %>
</p>

<p>
  <strong>Cardnumber:</strong>
  <%= @info.CardNumber %>
</p>

<p>
  <strong>Cashrecvd:</strong>
  <%= @info.CashRecvd %>
</p>

<p>
  <strong>Checknumber:</strong>
  <%= @info.CheckNumber %>
</p>

<p>
  <strong>City:</strong>
  <%= @info.City %>
</p>

<p>
  <strong>Cnt2:</strong>
  <%= @info.Cnt2 %>
</p>

<p>
  <strong>Cnt1:</strong>
  <%= @info.Cnt1 %>
</p>

<p>
  <strong>Cnt3:</strong>
  <%= @info.Cnt3 %>
</p>

<p>
  <strong>Cnt4:</strong>
  <%= @info.Cnt4 %>
</p>

<p>
  <strong>Cnt5:</strong>
  <%= @info.Cnt5 %>
</p>

<p>
  <strong>Cnt6:</strong>
  <%= @info.Cnt6 %>
</p>

<p>
  <strong>Cnt8:</strong>
  <%= @info.Cnt8 %>
</p>

<p>
  <strong>Cnt9:</strong>
  <%= @info.Cnt9 %>
</p>

<p>
  <strong>Cnt10:</strong>
  <%= @info.Cnt10 %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @info.Comment %>
</p>

<p>
  <strong>Company:</strong>
  <%= @info.Company %>
</p>

<p>
  <strong>Conference:</strong>
  <%= @info.Conference %>
</p>

<p>
  <strong>Country:</strong>
  <%= @info.Country %>
</p>

<p>
  <strong>Custpono:</strong>
  <%= @info.CustPONo %>
</p>

<p>
  <strong>Custtype:</strong>
  <%= @info.CustType %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @info.Deleted %>
</p>

<p>
  <strong>Didaffil:</strong>
  <%= @info.DidAffil %>
</p>

<p>
  <strong>Didccrpt:</strong>
  <%= @info.DidCCRpt %>
</p>

<p>
  <strong>Didemail:</strong>
  <%= @info.DidEmail %>
</p>

<p>
  <strong>Didprint:</strong>
  <%= @info.DidPrint %>
</p>

<p>
  <strong>Didshort:</strong>
  <%= @info.DidShort %>
</p>

<p>
  <strong>Didvisa:</strong>
  <%= @info.DidVisa %>
</p>

<p>
  <strong>Done:</strong>
  <%= @info.Done %>
</p>

<p>
  <strong>Email:</strong>
  <%= @info.Email %>
</p>

<p>
  <strong>Email2:</strong>
  <%= @info.Email2 %>
</p>

<p>
  <strong>Expirdate:</strong>
  <%= @info.ExpirDate %>
</p>

<p>
  <strong>Fecustnum:</strong>
  <%= @info.FECustNum %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @info.FirstName %>
</p>

<p>
  <strong>Flag1:</strong>
  <%= @info.Flag1 %>
</p>

<p>
  <strong>Flag2:</strong>
  <%= @info.Flag2 %>
</p>

<p>
  <strong>Flag8:</strong>
  <%= @info.Flag8 %>
</p>

<p>
  <strong>Flag9:</strong>
  <%= @info.Flag9 %>
</p>

<p>
  <strong>Flag10:</strong>
  <%= @info.Flag10 %>
</p>

<p>
  <strong>Flag10:</strong>
  <%= @info.Flag10 %>
</p>

<p>
  <strong>Freeupgrade:</strong>
  <%= @info.FreeUpgrade %>
</p>

<p>
  <strong>Gift:</strong>
  <%= @info.Gift %>
</p>

<p>
  <strong>Gotemail:</strong>
  <%= @info.GotEmail %>
</p>

<p>
  <strong>Invoiceno:</strong>
  <%= @info.InvoiceNo %>
</p>

<p>
  <strong>Invtotal:</strong>
  <%= @info.InvTotal %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @info.Kind %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @info.LastName %>
</p>

<p>
  <strong>Noemailcontact:</strong>
  <%= @info.NoEmailContact %>
</p>

<p>
  <strong>Noemailcontact:</strong>
  <%= @info.NoEmailContact %>
</p>

<p>
  <strong>Oldrin:</strong>
  <%= @info.OldRIN %>
</p>

<p>
  <strong>Orderdate:</strong>
  <%= @info.OrderDate %>
</p>

<p>
  <strong>Ordertag:</strong>
  <%= @info.OrderTag %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @info.Origin %>
</p>

<p>
  <strong>Otheramount:</strong>
  <%= @info.OtherAmount %>
</p>

<p>
  <strong>Otherdesc:</strong>
  <%= @info.OtherDesc %>
</p>

<p>
  <strong>Packslipcnt:</strong>
  <%= @info.PackSlipCnt %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @info.Phone %>
</p>

<p>
  <strong>Registerto:</strong>
  <%= @info.RegisterTo %>
</p>

<p>
  <strong>Salesperson:</strong>
  <%= @info.SalesPerson %>
</p>

<p>
  <strong>Salestax:</strong>
  <%= @info.SalesTax %>
</p>

<p>
  <strong>Salestaxadj:</strong>
  <%= @info.SalesTaxAdj %>
</p>

<p>
  <strong>Shipdate:</strong>
  <%= @info.ShipDate %>
</p>

<p>
  <strong>Shippingchg:</strong>
  <%= @info.ShippingChg %>
</p>

<p>
  <strong>Shiptype:</strong>
  <%= @info.ShipType %>
</p>

<p>
  <strong>Shipvia:</strong>
  <%= @info.ShipVia %>
</p>

<p>
  <strong>Shopordernum:</strong>
  <%= @info.ShopOrderNum %>
</p>

<p>
  <strong>Sitelicnum:</strong>
  <%= @info.SiteLicNum %>
</p>

<p>
  <strong>State:</strong>
  <%= @info.State %>
</p>

<p>
  <strong>Tagged:</strong>
  <%= @info.Tagged %>
</p>

<p>
  <strong>Taxexempt:</strong>
  <%= @info.TaxExempt %>
</p>

<p>
  <strong>Tempcustnum:</strong>
  <%= @info.TempCustNum %>
</p>

<p>
  <strong>Terms:</strong>
  <%= @info.Terms %>
</p>

<p>
  <strong>Totalsale:</strong>
  <%= @info.TotalSale %>
</p>

<p>
  <strong>Totalsale:</strong>
  <%= @info.TotalSale %>
</p>

<p>
  <strong>Xdidaffil:</strong>
  <%= @info.xDidAffil %>
</p>

<p>
  <strong>Xdidprint:</strong>
  <%= @info.xDidPrint %>
</p>

<p>
  <strong>Xdidvisa:</strong>
  <%= @info.xDidVisa %>
</p>

<p>
  <strong>Xxrecnum:</strong>
  <%= @info.xxRecNum %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @info.ZipCode %>
</p>

<%= link_to 'Edit', edit_info_path(@info) %> |
<%= link_to 'Back', infos_path %>
