<%- model_class = Info -%>
<div class="page-header">
  <h1><%=t '.title', :default => Info %></h1>
</div>

<div class="fieldset">
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Address1) %></dt>
      <dd><pre class="prettyprint"><%= @info.Address1 %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Address2) %></dt>
      <dd><pre class="prettyprint"><%= @info.Address2 %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:AnyFlag) %></dt>
      <dd><pre class="prettyprint"><%= @info.AnyFlag %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:AuthNo) %></dt>
      <dd><pre class="prettyprint"><%= @info.AuthNo %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:BillingAddress1) %></dt>
      <dd><pre class="prettyprint"><%= @info.BillingAddress1 %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:BillingAddress2) %></dt>
      <dd><pre class="prettyprint"><%= @info.BillingAddress2 %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:BillingCity) %></dt>
      <dd><pre class="prettyprint"><%= @info.BillingCity %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:BillingCompany) %></dt>
      <dd><pre class="prettyprint"><%= @info.BillingCompany %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:BillingCountry) %></dt>
      <dd><pre class="prettyprint"><%= @info.BillingCountry %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:BillingEmail) %></dt>
      <dd><pre class="prettyprint"><%= @info.BillingEmail %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:BillingEmail2) %></dt>
      <dd><pre class="prettyprint"><%= @info.BillingEmail2 %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:BillingFirstName) %></dt>
      <dd><pre class="prettyprint"><%= @info.BillingFirstName %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:BillingLastName) %></dt>
      <dd><pre class="prettyprint"><%= @info.BillingLastName %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:BillingPhone) %></dt>
      <dd><pre class="prettyprint"><%= @info.BillingPhone %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:BillingState) %></dt>
      <dd><pre class="prettyprint"><%= @info.BillingState %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:BillingZipCode) %></dt>
      <dd><pre class="prettyprint"><%= @info.BillingZipCode %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:CardNumber) %></dt>
      <dd><pre class="prettyprint"><%= @info.CardNumber %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:CashRecvd) %></dt>
      <dd><pre class="prettyprint"><%= @info.CashRecvd %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:CheckNumber) %></dt>
      <dd><pre class="prettyprint"><%= @info.CheckNumber %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:City) %></dt>
      <dd><pre class="prettyprint"><%= @info.City %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Cnt2) %></dt>
      <dd><pre class="prettyprint"><%= @info.Cnt2 %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Cnt1) %></dt>
      <dd><pre class="prettyprint"><%= @info.Cnt1 %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Cnt3) %></dt>
      <dd><pre class="prettyprint"><%= @info.Cnt3 %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Cnt4) %></dt>
      <dd><pre class="prettyprint"><%= @info.Cnt4 %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Cnt5) %></dt>
      <dd><pre class="prettyprint"><%= @info.Cnt5 %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Cnt6) %></dt>
      <dd><pre class="prettyprint"><%= @info.Cnt6 %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Cnt8) %></dt>
      <dd><pre class="prettyprint"><%= @info.Cnt8 %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Cnt9) %></dt>
      <dd><pre class="prettyprint"><%= @info.Cnt9 %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Cnt10) %></dt>
      <dd><pre class="prettyprint"><%= @info.Cnt10 %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Comment) %></dt>
      <dd><pre class="prettyprint"><%= @info.Comment %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Company) %></dt>
      <dd><pre class="prettyprint"><%= @info.Company %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Conference) %></dt>
      <dd><pre class="prettyprint"><%= @info.Conference %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Country) %></dt>
      <dd><pre class="prettyprint"><%= @info.Country %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:CustPONo) %></dt>
      <dd><pre class="prettyprint"><%= @info.CustPONo %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:CustType) %></dt>
      <dd><pre class="prettyprint"><%= @info.CustType %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Deleted) %></dt>
      <dd><pre class="prettyprint"><%= @info.Deleted %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:DidAffil) %></dt>
      <dd><pre class="prettyprint"><%= @info.DidAffil %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:DidCCRpt) %></dt>
      <dd><pre class="prettyprint"><%= @info.DidCCRpt %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:DidEmail) %></dt>
      <dd><pre class="prettyprint"><%= @info.DidEmail %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:DidPrint) %></dt>
      <dd><pre class="prettyprint"><%= @info.DidPrint %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:DidShort) %></dt>
      <dd><pre class="prettyprint"><%= @info.DidShort %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:DidVisa) %></dt>
      <dd><pre class="prettyprint"><%= @info.DidVisa %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Done) %></dt>
      <dd><pre class="prettyprint"><%= @info.Done %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Email) %></dt>
      <dd><pre class="prettyprint"><%= @info.Email %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Email2) %></dt>
      <dd><pre class="prettyprint"><%= @info.Email2 %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:ExpirDate) %></dt>
      <dd><pre class="prettyprint"><%= @info.ExpirDate %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:FECustNum) %></dt>
      <dd><pre class="prettyprint"><%= @info.FECustNum %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:FirstName) %></dt>
      <dd><pre class="prettyprint"><%= @info.FirstName %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Flag1) %></dt>
      <dd><pre class="prettyprint"><%= @info.Flag1 %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Flag2) %></dt>
      <dd><pre class="prettyprint"><%= @info.Flag2 %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Flag8) %></dt>
      <dd><pre class="prettyprint"><%= @info.Flag8 %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Flag9) %></dt>
      <dd><pre class="prettyprint"><%= @info.Flag9 %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Flag10) %></dt>
      <dd><pre class="prettyprint"><%= @info.Flag10 %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Flag10) %></dt>
      <dd><pre class="prettyprint"><%= @info.Flag10 %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:FreeUpgrade) %></dt>
      <dd><pre class="prettyprint"><%= @info.FreeUpgrade %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Gift) %></dt>
      <dd><pre class="prettyprint"><%= @info.Gift %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:GotEmail) %></dt>
      <dd><pre class="prettyprint"><%= @info.GotEmail %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:InvoiceNo) %></dt>
      <dd><pre class="prettyprint"><%= @info.InvoiceNo %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:InvTotal) %></dt>
      <dd><pre class="prettyprint"><%= @info.InvTotal %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Kind) %></dt>
      <dd><pre class="prettyprint"><%= @info.Kind %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:LastName) %></dt>
      <dd><pre class="prettyprint"><%= @info.LastName %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:NoEmailContact) %></dt>
      <dd><pre class="prettyprint"><%= @info.NoEmailContact %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:NoEmailContact) %></dt>
      <dd><pre class="prettyprint"><%= @info.NoEmailContact %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:OldRIN) %></dt>
      <dd><pre class="prettyprint"><%= @info.OldRIN %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:OrderDate) %></dt>
      <dd><pre class="prettyprint"><%= @info.OrderDate %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:OrderTag) %></dt>
      <dd><pre class="prettyprint"><%= @info.OrderTag %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Origin) %></dt>
      <dd><pre class="prettyprint"><%= @info.Origin %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:OtherAmount) %></dt>
      <dd><pre class="prettyprint"><%= @info.OtherAmount %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:OtherDesc) %></dt>
      <dd><pre class="prettyprint"><%= @info.OtherDesc %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:PackSlipCnt) %></dt>
      <dd><pre class="prettyprint"><%= @info.PackSlipCnt %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Phone) %></dt>
      <dd><pre class="prettyprint"><%= @info.Phone %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:RegisterTo) %></dt>
      <dd><pre class="prettyprint"><%= @info.RegisterTo %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:SalesPerson) %></dt>
      <dd><pre class="prettyprint"><%= @info.SalesPerson %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:SalesTax) %></dt>
      <dd><pre class="prettyprint"><%= @info.SalesTax %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:SalesTaxAdj) %></dt>
      <dd><pre class="prettyprint"><%= @info.SalesTaxAdj %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:ShipDate) %></dt>
      <dd><pre class="prettyprint"><%= @info.ShipDate %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:ShippingChg) %></dt>
      <dd><pre class="prettyprint"><%= @info.ShippingChg %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:ShipType) %></dt>
      <dd><pre class="prettyprint"><%= @info.ShipType %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:ShipVia) %></dt>
      <dd><pre class="prettyprint"><%= @info.ShipVia %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:ShopOrderNum) %></dt>
      <dd><pre class="prettyprint"><%= @info.ShopOrderNum %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:SiteLicNum) %></dt>
      <dd><pre class="prettyprint"><%= @info.SiteLicNum %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:State) %></dt>
      <dd><pre class="prettyprint"><%= @info.State %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Tagged) %></dt>
      <dd><pre class="prettyprint"><%= @info.Tagged %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:TaxExempt) %></dt>
      <dd><pre class="prettyprint"><%= @info.TaxExempt %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:TempCustNum) %></dt>
      <dd><pre class="prettyprint"><%= @info.TempCustNum %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:Terms) %></dt>
      <dd><pre class="prettyprint"><%= @info.Terms %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:TotalSale) %></dt>
      <dd><pre class="prettyprint"><%= @info.TotalSale %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:TotalSale) %></dt>
      <dd><pre class="prettyprint"><%= @info.TotalSale %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:xDidAffil) %></dt>
      <dd><pre class="prettyprint"><%= @info.xDidAffil %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:xDidPrint) %></dt>
      <dd><pre class="prettyprint"><%= @info.xDidPrint %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:xDidVisa) %></dt>
      <dd><pre class="prettyprint"><%= @info.xDidVisa %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:xxRecNum) %></dt>
      <dd><pre class="prettyprint"><%= @info.xxRecNum %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:ZipCode) %></dt>
      <dd><pre class="prettyprint"><%= @info.ZipCode %></pre></dd>
  </dl>
</div>

<div class="form-group">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              infos_path, :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_info_path(@info), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              info_path(@info),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

